<h2>Add Answer Script</h2>
  <form method="post" action="{{ url_for('add_answer_script') }}" enctype="multipart/form-data">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
    <div class="form-group">
      <label for="exam_type"> Exam Type </label>
      <input type="text" name="exam_type" class="form-control">
    </div>
    <div class="form-group">
      <label for="subject_id"> Subject ID</label>
      <input type="text" name="subject_id" class="form-control">
    </div>
    <div class="form-group">
      <label for="student_id"> Student ID </label>
      <input type="text" name="student_id" class="form-control">
    </div>
    <div class="form-group">
      <label for="answer_script_file"> Answer Script </label>
      <input type="file" name="answer_script_file" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add Answer Script</button>
  </form>
