<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Student</h1>
    <form method="post" action="{{ url_for('add_student') }}" enctype="multipart/form-data">
        {{ form_student.csrf_token }}
        <div>
            {{ form_student.roll_number.label }}
            {{ form_student.roll_number(size=32) }}
        </div>
        <div>
            {{ form_student.name.label }}
            {{ form_student.name(size=32) }}
        </div>
        <div>
            {{ form_student.sub_name.label }}
            {{ form_student.sub_name(size=32) }}
        </div>
        <div>
            {{ form_student.answer_script.label }}
            {{ form_student.answer_script }}
        </div>
        <div>
            <button type="submit">Add Student</button>
        </div>
    </form>
</body>
</html>
