<h2>Add Answer Script</h2>
  <form method="post" action="{{ url_for('add_answer_script') }}" enctype="multipart/form-data">
    {{ form_answer_script.hidden_tag() }}
    <div class="form-group">
      {{ form_answer_script.exam_type.label }}
      {{ form_answer_script.exam_type(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form_answer_script.subject_id.label }}
      {{ form_answer_script.subject_id(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form_answer_script.student_id.label }}
      {{ form_answer_script.student_id(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form_answer_script.answer_script_file.label }}
      {{ form_answer_script.answer_script_file(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Answer Script</button>
  </form>
